* {
    box-sizing: border-box;
}

body {
    margin: 0;
    background-color: black;
    color: white;
    font-family: "gangster_reg", Helvetica, Arial, sans-serif;
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.welcome.logo,
.logo {
    font-size: 26px;
    font-family: "gangster_reg", Helvetica, Arial, sans-serif;
    padding: 10px 20px;
}
.welcome.logo span,
.logo span {
    position: relative;
}
.welcome.logo span::before,
.logo span::before {
    /*  text-decoration: line-through; */
    content: "";
    display: block;
    position: absolute;
    top: 18px;
    right: 0;
    width: 70px;
    height: 2px;
    background-color: white;
}

.nav .prof-pic {
    padding: 10px 20px;
}
.nav .prof-pic img {
    width: 45px;
    height: 45px;
    display: block;
    -webkit-filter: invert(1);
    filter: invert(1);
    cursor: pointer;
}

.rgtr-form,
.login-form,
.pw-reset-form {
    width: 450px;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}
.rgtr-form h1,
.login-form h1,
.pw-reset-form h1 {
    font-family: "right_groteskwide_medium", Helvetica, Arial, sans-serif;
}

.rgtr-form label,
.login-form label,
.pw-reset-form label {
    font-size: 16px;
    margin-bottom: 5px;
}
.rgtr-form input,
.login-form input,
.pw-reset-form input {
    border: 1px solid white;
    background: white;
    color: black;
    border-radius: 2px;
    padding: 10px 7px;
    font-size: 16px;
    margin-bottom: 30px;
}
.rgtr-form input::placeholder,
.login-form input::placeholder,
.pw-reset-form input::placeholder {
    color: black;
    opacity: 0.4;
}
.rgtr-form button,
.login-form button,
.pw-reset-form button {
    border: 1px solid white;
    background: black;
    color: white;
    border-radius: 2px;
    padding: 15px 7px;
    font-size: 20px;
    margin-bottom: 30px;
    font-family: "gangster_reg", Helvetica, Arial, sans-serif;
    transition: 500ms ease;
    cursor: pointer;
}
.rgtr-form input:focus,
.rgtr-form input:active,
.rgtr-form input:visited,
.rgtr-form button:focus,
.rgtr-form button:active,
.rgtr-form button:visited,
.login-form input:focus,
.login-form input:active,
.login-form input:visited,
.login-form button:focus,
.login-form button:active,
.login-form button:visited,
.pw-reset-form input:focus,
.pw-reset-form input:active,
.pw-reset-form input:visited,
.pw-reset-form button:focus,
.pw-reset-form button:active,
.pw-reset-form button:visited {
    outline: none;
}

.rgtr-form button:hover,
.login-form button:hover,
.pw-reset-form button:hover {
    border-color: greenyellow;
    color: greenyellow;
}

.rgtr-link,
.login-link,
.pw-reset-link {
    text-align: center;
}
.rgtr-link a,
.login-link a,
.pw-reset-link a {
    color: greenyellow;
    display: block;
}
